[submodule "communications"]
	path = communications
	url = git@bitbucket.org:Tabjones/vision_communications.git
[submodule "pel"]
	path = pel
	url = git@bitbucket.org:Tabjones/pose-estimation-library.git
